
@(studentForm:Form[Student])

@import helper.twitterBootstrap._
@import helper._



@main("Basic Info") {
    @form(action=routes.Application.createStudent()) {
        @inputText(studentForm("First Name"))
        @inputText(studentForm("Last Name"))
        @checkbox(studentForm("Music"))
        @checkbox(studentForm("Sports"))
        <input type="submit" value="Submit">
        <a href="/react">Test react...</a>

    }
}

<!-- old for login form
<head>
    <style>
    body { padding:20px; }
    label, input { display:block; margin-top:10px; }
    </style>
</head>
<body>
    <h1>Login Form</h1>
    <form method="post" action="#">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="Submit form">
    </form>
</body>
-->

<script>
    $(document).ready(function() {
        $( ":hidden" ).each(function() {
            var name = $(this).attr("name");
            if(typeof(name) != "undefined") {
            var checkboxString = "";
        checkboxString = '<input type="hidden" style="display:none;" name="'+ name +'" value="false" />'
        $(this).after(checkboxString);
            }
        });
    });
</script>