
@(customerForm:Form[Customer])

@import helper.twitterBootstrap._
@import helper._

@main("Customer Form") {
    @form(action=routes.Application.createCustomer()) {
        @inputText(customerForm("Credit Limit"))
        @inputText(customerForm("Customer Name"))
        <input type="submit" value="Submit">
    }
}

<!-- old for login form
<head>
    <style>
    body { padding:20px; }
    label, input { display:block; margin-top:10px; }
    </style>
</head>
<body>
    <h1>Login Form</h1>
    <form method="post" action="#">
        <label for="username">username:</label>
        <input type="text" name="username" id="username">
        <label for="password">password:</label>
        <input type="text" name="password" id="password">
        <input type="submit" value="Submit form">
    </form>
</body>
-->