@(student:Student)

@main("Student Registered") {
    <em>The following student has been registered successfully:</em>
    <div>
        First Name: @student.fName
        <br>
        Last Name: @student.lName
        <br>
        Music: @if(student.Music==Some(true)){
                <a href="/postMusic">Questions about Music...</a>
                }
        <br>
        Sports: @if(student.Sports==Some(true)){
            <a href="/postSports">Questions about Sports...</a>
        }

    </div>
}